:root {
  --color-bg: #f9f7f4;
}

input,
textarea {
  font-family: Montserrat;
  color: #000;
  font-size: medium;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

textarea::placeholder {
  font-family: Montserrat;
  color: #7e7e7e;
}

input::placeholder {
  font-family: Montserrat;
  color: #7e7e7e;
}

.contact-form {
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  background-color: var(--color-bg);
}

.form-title {
  text-align: center;
}

.form-title h3 {
  margin: 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
  margin: 2rem auto;
}

@media screen and (min-width: 1070px) {
  .contact-form {
    width: 70%;
    margin: 4rem auto;
  }

  .input-container {
    gap: 1rem;
    width: 70%;
  }

  .form-title {
    grid-column: 1/3;
  }
}
