.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("../images/hero-image.jpg");
  height: 40%;
  width: 100%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1rem;
  text-align: center;
  text-shadow: #000 0 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.intro-text h3 {
  text-align: center;
  margin-bottom: 1.2rem;
}

.home-page-intro a {
  text-decoration: none;
  color: unset;
}

.home-page-intro {
  margin-top: 2rem;
}

.home-page-intro p ul {
  margin: 0 0 1rem 0;
}

.call-to-action {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

@media screen and (min-width: 845px) {
  .hero-image {
    height: 50%;
  }

  .call-to-action {
    padding: 0;
  }
}
