.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("../images/garden-room-01.png");
  height: 60%;
  width: 100%;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1rem;
  text-align: center;
  text-shadow: #000 0 0 20px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
  margin: 0;
}

.home-page-intro a {
  text-decoration: none;
  color: unset;
}

.home-page-intro {
  margin: 2rem auto;
  width: 90%;
}

/* .home-page-intro p ul {
  margin: 0 0 0 0;
} */

.call-to-action {
  text-align: center;
  font-size: 1.2rem;
  /* padding-bottom: 1rem; */
}

@media screen and (min-width: 845px) {
  .hero-image {
    height: 50%;
  }

  .home-page-intro {
    width: 100%;
  }

  .call-to-action {
    padding: 0;
  }
}
