.page-heading {
  text-align: center;
}

.service-details {
  margin: 2rem auto;
  background-color: blanchedalmond;
  border-radius: 15px;
  padding: 2rem;
}

@media screen and (min-width: 845px) {
  .service-details {
  }

  .details-text {
    align-self: center;
  }
}
