---
import BaseLayout from "../layout/BaseLayout.astro";
import '../styles/contactpage.css';
const pageTitle = "Contact Me";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="contact-form">
    <div class="input-container">
      <div class="form-title">
        <h3>Contact Me!</h3>
      </div>
        <input type="text" id="name" autocomplete="on" placeholder="Name"/>
        <input type="email" id="email" autocomplete="on" placeholder="Email"/>
        <textarea rows="8" id="message" autocomplete="off" placeholder="Message"></textarea>
        <button class="button">Submit</button>
    </div>
  </div>
</BaseLayout>
