---
import BaseLayout from "../layout/BaseLayout.astro";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="hero-image">
    <div class="hero-text">
      <h1>LMS Timber Buildings</h1>
    </div>
  </div>
</BaseLayout>
