---
import BaseLayout from "../layout/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import "../styles/homepage.css";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <Hero />
  <div class="home-page-intro">
    <div class="intro-text">
      <h3>Hi! &#128075;</h3>
      <p>
        I'm Liam, I am a carpenter based in the West Midlands. I specialise in
        property renovations, timber frame extensions, 1st, & 2nd fix carpentry.
      </p>
      <ul>
        <li>Renovations</li>
        <li>Extensions</li>
        <li>Roofing</li>
        <li>Flooring</li>
        <li>Studwork</li>
        <li>Kitchens</li>
        <li>Garden Buildings</li>
      </ul>
    </div>
    <div class="intro-image"><p>A pic of me</p></div>
  </div>
</BaseLayout>
