---
import BaseLayout from "../layout/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import "../styles/homepage.css";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <Hero />
  <div class="home-page-intro">
    <div class="intro-text">
      <p>
        We create beautiful, high-performance spaces using precision
        timber-frame construction. Whether you’re planning a striking kitchen
        extension, a contemporary living space, or a bespoke garden room, every
        project is crafted to the same standard as a modern timber-frame home.
        This approach delivers outstanding strength, insulation, and energy
        efficiency, while allowing crisp architectural lines and fast, tidy
        installation. Our garden buildings aren’t lightweight sheds — they’re
        built with the same care and specification as our house extensions,
        giving you a warm, durable space that adds real value to your property
        and enhances the way you live.
      </p>
      <div class="call-to-action">
        <p>
          If you're considering a renovation or extension,
          <a href="/contact"><b>get in touch</b></a> to see how I can bring your
          idea to life.
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
