---
import BaseLayout from "../layout/BaseLayout.astro";
import "../styles/homepage.css";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="hero-image">
    <div class="hero-text">
      <h1>LMS Timber Buildings</h1>
      <a href="/contact" class="button hero-cta">Contact Me!</a>
    </div>
  </div>
  <div class="home-page-intro">
    <div class="intro-text">
      <h3>Hi!</h3>
      <p>I'm Liam, I am a Joiner based in the West Midlands.</p>
    </div>
    <div class="intro-image">A pic of me</div>
  </div>
</BaseLayout>
