---
import BaseLayout from "../layout/BaseLayout.astro";
const pageTitle = "Services";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="content-container"><h3>{pageTitle}</h3></div>
</BaseLayout>
