---

---

<div class="nav-bar-wrapper">
  <div class="nav-bar">
    <a href="/">
      <h2>LMS Timber Buildings</h2>
    </a>
    <div class="nav-link-list">
      <a class="nav-link" href="/about">About</a>
      <a class="nav-link" href="/contact">Contact</a>
    </div>
  </div>
</div>
