---
import Navbar from "../components/Navbar.astro";
import MenuBars from "../components/MenuBars.astro";
---

<div class="nav-bar-container">
  <div class="nav-bar-wrapper">
    <div class="nav-grid-one">
      <h2>LMS Timber Buildings</h2>
      <MenuBars />
    </div>
    <div class="nav-grid-two">
      <Navbar />
    </div>
  </div>
</div>
