---
import Navbar from "../components/Navbar.astro";
import MenuBars from "../components/MenuBars.astro";
---

<div class="nav-bar-container">
  <div class="nav-bar-wrapper">
    <div class="nav-grid-one">
      <a href="/">
        <h2 class="navbar-title">LMS Carpentry & Construction</h2>
      </a>
      <MenuBars />
    </div>
    <div class="nav-grid-two">
      <Navbar />
    </div>
  </div>
</div>
